

body{
    background: radial-gradient(circle, rgba(160, 233, 255, 0.4), rgba(10, 20, 30, 0), #050b10, #33ccff, #b0c4de);
    color: #e0f7fa;
    
}

main{
    background-color: #0a141e;
    border: 2px solid;
    
    .imgsClass{
        
        img{
            height: 25%;
            width: 25%;
            max-width: 100%;
            max-height: 100%;
        }
    }
}
